.banner {
    border-bottom: 1px solid #d0d0d0;

    .brand {
        background: url(http://via.placeholder.com/350x150) 0 0 / 100% 100% no-repeat;
        display: block;
        margin: 60px auto;
        @include size(350px, 150px);
        font-size: 0;
    }

    .intro {
        text-align: center;
        margin: 20px 0 40px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        // max-width: 900px;
        // margin: auto;
        li {
            position: relative;
            display:flex;
            justify-content: center;
        }
        a {
            color: $black;
            display: block;
            padding: 20px;
            &:hover {
                color: lighten($black, .5)
            }
        }

        li:first-child a {
            // padding-left: 0;
        }

        li:last-child a {
            // padding-right: 0;
        }

        .sub-menu {
            opacity: 0;
            display: none;
            will-change: opacity;
            position: absolute;
            background: white;
            padding: 15px 20px;
            width: 150px;
            box-shadow: 0 1px 4px rgba(0,0,0,.4);
            left: 0;
            top: 100%;
            margin-top: -5px;
            transition: all .2s;

            li {
                display: block;
            }

            a {
                padding: 15px 0;
            }
        }
    }
    
    .trigger-enter .sub-menu {
        display: block;
    }
    
    .trigger-enter-active .sub-menu {
        opacity: 1;
    }
}



