.banner {
    border-bottom: 1px solid #d0d0d0;

    .brand {
        background: url(../images/logo.jpg) center center / contain no-repeat;
        display: block;
        margin: 60px auto 0;
        max-width: 100%;
        font-size: 0;  
        @include size(500px, 150px);
        
        @media(min-width: $bp-medium){            
            @include size(800px, 372px);
        }
    }

    .intro {
        text-align: center;
        margin: 15px 0 40px;
        @media(min-width: $bp-medium){
            margin-bottom: 90px;
            font-size: 20px;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        max-width: 400px;
        margin: auto;

        li {
            position: relative;
            display:flex;
            justify-content: center;
        }
        a {
            color: $body-color;
            display: block;
            padding: 20px;
            font-weight: normal;
            &:hover {
                color: lighten($body-color, .5)
            }
        }

        li:first-child a {
            // padding-left: 0;
        }

        li:last-child a {
            // padding-right: 0;
        }

        .menu-item-has-children {
            > a {
                &:after {
                    content: '\f078';
                    font-family: FontAwesome;
                    font-size: 10px;
                    position: relative;
                    left: 5px;
                }
            }
        }

        .sub-menu {
            opacity: 0;
            display: none;
            will-change: opacity;
            position: absolute;
            background: white;
            padding: 15px 20px;
            width: 150px;
            box-shadow: 0 1px 4px rgba(0,0,0,.4);
            left: 0;
            top: 100%;
            margin-top: -5px;
            transition: all .4s;

            li {
                display: block;
            }

            a {
                padding: 15px 0;
            }
        }
    }
    
    .trigger-enter .sub-menu {
        display: block;
        opacity: 1;
    }
}



