.wrap {
    margin-top: 30px;
    @media(min-width: $bp-medium){
        margin-top: 50px;
    }
    padding-bottom: 50px;
}

.page-header {
    margin-bottom: 60px;
    h1 {
        margin-top: 0;
    }
    .blog &,
    .category & {
        text-align: center;
    }
}

.blog-list {
    @media(min-width: $bp-medium){            
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    article {
        display: flex;
        align-items: center;
        flex-direction: column;

        @media(min-width: $bp-medium){        
            flex: 0 0 50%;
        }
    }

    .post {
        .entry-title,
        .updated,
        .image-wrap {
            margin-bottom: 10px;
        }
    }
}

.about-wrapper {
    @media(min-width: $bp-medium){  
        display: flex;
    }

    .page-header {
        margin-bottom: 0;
    }

    .image-wrap {
        text-align: center;
        img {
            margin-bottom: 15px;
            @media(min-width: $bp-medium){                  
                margin-right: 30px;
                margin-bottom: 0;
                max-width: none;
            }
        }
    }
}