.post {
    text-align: center;

    .entry-title {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .updated {
        display: block;
        margin-bottom: 5px;
    }
    
    .more-link {
        display: inline-block;
        margin-top: 10px;
    }
}