.post {
    text-align: center;
    margin-bottom: 15px;

    @media(min-width: $bp-medium){
        margin-bottom: 30px;
    }

    .post-single-header {
        text-align: left;
        max-width: 600px;
        margin: auto;
    }

    .entry-title {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .updated {
        display: block;
        margin-bottom: 20px;
        color: #808080;
        font-size: 14px;
    }
    
    .more-link {
        display: inline-block;
        padding: 10px;
        border: 2px solid $body-color;
    }

    .entry-content {
        max-width: 600px;
        text-align: left;
        margin: auto;
    }

    .image-wrap {
        margin: 0 0 20px;
    }
}