@font-face {
  font-family: 'avenir';
  src: url(../fonts/AvenirLTStd-Light.woff2) format('woff2'), url(../fonts/AvenirLTStd-Light.woff2) format('woff2');
}

body {
  font-size: 16px;
  line-height: 20px;
  font-family: $body-font;
  color: $body-color;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
    @media(min-width: $bp-medium){        
        padding: 0 10px;
    }
}

a {
  color: $link-color;
  transition: opacity .2s;
  &:hover {
    opacity: .6;
  }
}

img { 
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  // margin: 0;
  font-family: $work-sans;
  font-weight: normal;
}

p {
  margin: 0;
  & + p {
    margin-top: 15px;
  }
}