// fonts
$work-sans: 'Work Sans', sans-serif;
$avenir: 'avenir', sans-serif;
$avenir-bold: 'avenir-bold', sans-serif;
// wp
$spacer: 2rem;

// breakpoints
$bp-small: 480px;
$bp-medium: 768px;

// colors
$black: #202020;

// body
$body-font: $avenir;
$body-color: #3d4246;

// links
$link-color: $body-color;
